spring:
  application:
    name: payment-service-app
  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://postgres:5432/payment-db}
    username: ${DATASOURCE_USERNAME:admin}
    password: ${DATASOURCE_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver
    changeLogFile: db/changelog/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml #

server:
  port: ${SERVER_PORT:8080} #8080