spring:
  application:
    name: payment-service-app

  profiles:
    active: db, kafka

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI:http://keycloak:8080/realms/radmiy-lms}

logging:
  file:
    name: ./logs/application.log
  level:
    com.radmiy.payment: DEBUG
    org.springframework.web: INFO
    org.springframework.data: INFO
    org.springframework.security: INFO
#  pattern:
#    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} [%thread] %-5level %logger{36} - [%X{traceId}:%X{spanId}] %msg%n"
#    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{traceId}:%X{spanId}] %msg%n"

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: "health,info,liquibase,beans,metrics,env,loggers"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c,b3
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

server:
  port: ${SERVER_PORT:8080} #8080